<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OTSC_ui.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="User_Interface.Properties.RealSecret" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="User_Interface.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OTSC_ui.Properties.Settings1>
            <setting name="Theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppsettingsPath" serializeAs="String">
                <value>C:\Users\glkru\OneDrive\Desktop\prj\Project_cpo\User_setup\Tools\DBTools\RealSAppSettimgs.json</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TelegramBot" serializeAs="String">
                <value>https://t.me/HappyBDay_OTSC_bot</value>
            </setting>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://localhost:5291</value>
            </setting>
        </OTSC_ui.Properties.Settings1>
        <User_Interface.Properties.RealSecret>
            <setting name="Theme" serializeAs="String">
                <value>False</value>
            </setting>
        </User_Interface.Properties.RealSecret>
        <User_Interface.Properties.Settings1>
            <setting name="Theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Jsonpath" serializeAs="String">
                <value>C:\\Users\\glkru\\OneDrive\\Desktop\\prj\\Project_cpo\\User_setup\\Properties\\RealSecret.json</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
        </User_Interface.Properties.Settings1>
    </userSettings>
</configuration>
